.header-background{
  background-image: url("../images/background.jpg");
  border-radius: 0px;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(50px);
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: aliceblue;
}

.third-row-inside{
  width: 99%;
  background-color: rgba(18, 18, 31, 0.6);
  margin-top: 70px;
  height: 250px;
  position: absolute;
  margin-left: 10px;
}

.last-row-inside{
  width: 99%;
  background-color: rgba(21, 21, 22, 0.6);
  margin-top: 350px;
  height: 300px;
  position: absolute;
  margin-left: 10px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.workers-card {
  
 display: flex;
 justify-content: center;
 align-items: center;
 color: black;
}

.card{
  width: 250px;
  height: 130px !important;
  background-color: rgba(255, 255, 255, 0.75) !important;  
  backdrop-filter: blur(5px);
  position: absolute;
  margin-left:  50px;
  border-radius: 20px !important;
}
.card:hover{
  transform: scale(1.1);  
  transition: transform 0.4s ease;
}

.notification-card{
  width: 200px;
  height: 135px;
  background-color: rgba(15, 15, 16, 0.7);
  color: aliceblue;
  margin-left:  50px;
  border-radius: 30px !important;
  display: list-item;
  align-items: center;
  color: rgb(254, 254, 254);
}
.notification-card:hover{
  transform: scale(1.1);  
  transition: transform 0.4s ease;
}
 
.logo2{
  height: 60px !important;
  width: 250px;
  margin-left: 78%;
  margin-top: -45px;
}

.name{
  color: aliceblue;
  
}

.user-button{
  display: flex;
  justify-content: start;
}

.nav-text{
  color: aliceblue;
}

.nav-text{
  color: white;
}

.nav-text:hover{
  color:  rgba(125, 125, 146, 0.9);
  /* width: 80px; */
  height: 20px;
  border-radius: 5px;
}


