body {
    background-color: aliceblue !important;
}
.btn-primary{
    width: 50%;
    background: rgb(99, 16, 162) !important;
    display: flex;
    justify-content: center;
}

.btn-primary:hover{
    background: rgb(61, 1, 121) !important;
}

.login-form{
    
    background-color: rgba(194, 191, 198, .35);
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    
}


.container{
    display: flex !important;
    justify-content: center !important;

}

.logo{
    height: 150px !important;
    width: 500px !important;
    
    
}
.logo-form{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 5%;
    padding: 20px;
}

.btn-class{
    padding-top: 10px;

}

.btn-secondary{
    background: rgb(99, 16, 162) !important;
    display: flex;
    justify-content: center;
    box-shadow: 100px !important;
}

.btn-secondary:hover{
    background: rgb(61, 1, 121) !important;
}