body {
    background-color: aliceblue !important;
}
.btn-primary{
    width: 50%;
    background: rgb(51, 49, 177, 0.9) !important;
    display: flex;
    justify-content: center;
    color:  rgb(255, 255, 255) !important ;
    border-color: transparent !important;
}

.btn-primary:hover{
    background:  rgb(223, 208, 237)  !important;
}

.login-form{
    
    background-color: rgba(52, 51, 54, 0.4);
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    
}


.container{
    display: flex !important;
    justify-content: center !important;

}

.logo{
    height: 130px !important;
    width: 500px !important;
    margin-top: 50px;
    
    
}
.logo-form{
   
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 20px;
}

.btn-class{
    padding-top: 10px;
    margin: 2%;

}

.btn-secondary{
    background: rgb(255, 255, 255) !important;
    display: flex;
    justify-content: center;
    box-shadow: 100px !important;
    color: rgb(99, 16, 162) !important;
    border-color: transparent !important;
}

.btn-secondary:hover{
    background: rgb(223, 208, 237) !important;
}
.login-back{
    background-image: url('../images/background.jpg');
    height: 100vh;
}