body{
    background-image: url('../images/background.jpg');
}

.form-container{
    height: 800px;
    width: 600px;
    background-color: rgb(216, 224, 231,0.8);
    border-radius: 15px;
}

.form-content{
    text-align: left;
}
.submit-btn{
    margin-top: 20% ;
}
